.booking-page {
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reserve-btn {
  background-color: #F4CE14;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}